# ignore all files...
*.*
# except
!*.m
!./README.md
!C:/Users/ScanningLabAnalysis/Documents/MATLAB/MERFISHProbeDesign/MERFISH_Examples2/MERFISH_Examples2/codebookMusmusculusHypothalamus_v01.csv
!C:/Users/ScanningLabAnalysis/Documents/MATLAB/MERFISHProbeDesign/MERFISH_Examples2/readoutsHypothalamus.fasta
!C:/Users/ScanningLabAnalysis/Documents/MATLAB/MERFISHProbeDesign/MERFISH_Examples2/Mus_musculus_proxy.fpkm_tracking