# ignore all files...
*.*
# except
!*.m
!./README.md
!/MERFISH_Examples2/codebookMusmusculusHypothalamus_v01.csv
!/MERFISH_Examples2/readoutsHypothalamus.fasta
!/MERFISH_Examples2/Mus_musculus_proxy.fpkm_tracking